.box {
    height: 40px ;
    width: 80px ;
    text-align: center ;
    font-size: 30px ;
    border-radius: 0px ;
    border-width: thick ;
}
.box2 {
        height: 40px ;
    width: 80px ;
    text-align: center ;
    font-size: 30px ;
    border-radius: 0px ;
    border-width: thick ;
} 
.box3 {
        height: 40px ;
    width: 80px ;
    text-align: center ;
    font-size: 30px ;
    border-radius: 0px ;
    border-width: thick ;
}

.sendbox {
    text-align: center ;
    top: 350px ;
    position: fixed ;
    right: 300 ;
    left: 300 ;
}

.screen {
    border-color: black ;
    border-width: thick ;
    height: 200px ;
    width: 200px ;
    top: 125px ;
    position: fixed ;
    right: 575 ;
    left: 575 ;
}

.button {
    position: fixed ;
    background-color: white ;
    border-color: black ;
    border-radius: 5px ;
    width: 200px ;
    height: 40px ;
    top: 400px ;
    font-size: 20px ;
    border-width: medium ;
    font-family: fantasy ;
    right: 575px ;
}

.tittle {
        text-align: center ;
    top: 25px ;
    position: fixed ;
    left: 625 ;
    font-size: 50px ;
    font-family: sans-serif ;
}